<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FMI emperature</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>FMI Temperature</h1>

<div th:text="${temperatures.weatherStationName}"></div>

<table>
    <tr th:each="daytemperature : ${temperatures.dayTemperatureSeries}">
        <td th:text="${#temporals.format(daytemperature.date, 'd.M.yyyy')}"></td>
        <td th:text="${daytemperature.avgTemperature} + '&#8451;'"></td>
    </tr>

</table>

</body>
</html>
